.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    color: #fafafa;
    position: fixed;
    z-index: 998;
    margin: auto;
    text-align: center;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
}

.hide {
  display: none;
}

.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0);
  border: 2px solid white;
  z-index: 997;
}


.front {
  position: fixed;
  font-size: 1.7rem;
  align-content: center;
  top: 1rem;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  padding: 0;
  overflow: hidden;
  border-radius: 50%;
  z-index: 9999;
  background-color: white;
}

.front > div {
  position: absolute;
  top: -0.4rem;
  left: 0.1rem;
}