.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    color: #fafafa;
    position: fixed;
    z-index: 998;
    margin: auto;
    text-align: center;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
}

.hide {
  display: none;
}

.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0);
  border: 2px solid white;
  z-index: 997;
}

.front {
  position: fixed;
  align-content: center;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  overflow: hidden;
  border-radius: 50%;
  z-index: 9999;
  background-color: white;
}

.front > div {
  position: absolute;
  top: 0.15rem;
  left: 0.6rem;
  width: 1.5rem;
  height: 1.5rem;

  border-style: double;
  border-width: 0px 0px 0px 0.7rem;
  border-color: #202020;
}

.left {
  position: relative;
  background-color: white;
  left: 0rem;
  top: 5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.left > div {
  position: relative;
  left: -1.1rem;
  border-style: solid;
  border-width: 1.3rem;
  border-height: 1.5rem;
  border-color: transparent orangered transparent transparent;
}

.right {
  position: relative;
  background-color: white;
  left: 6rem;
  top: 2rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.right > div {
  position: relative;
  left: 0.7rem;
  border-style: solid;
  border-width: 1.3rem;
  border-height: 1.5rem;
  border-color: transparent transparent transparent orangered;
}

.up {
  position: relative;
  background-color: white;
  top: -4rem;
  left: 3rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.up > div {
  position: relative;
  left: -0.15rem;
  top: -0.8rem;
  border-style: solid;
  border-width: 1.3rem;
  border-height: 1.5rem;
  border-color: transparent transparent orangered transparent;
}

.down {
  position: relative;
  background-color: white;
  left: 3rem;
  top: -1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.down > div {
  position: relative;
  top: 0.9rem;
  left: -0.15rem;
  border-style: solid;
  border-width: 1.3rem;
  border-height: 1.5rem;
  border-color: orangered transparent transparent transparent;
}

.movement {
  position: fixed;
  float: left;
  height: 100vh;
  margin: auto;
  text-align: center;
  padding: 0 10%;
  z-index: 9998;
  display: flex;
  flex-direction: column;
  justify-content: center;
}